<div id="<%= dom_id appearance %>">
  <p>
    <strong>Name:</strong>
    <%= appearance.name %>
  </p>

  <p>
    <strong>is it leet tho?</strong>
    <%= appearance.is_leet ? 'YES' : 'NO' %>
  </p>

</div>
